absl-py==2.1.0
asteval==1.0.5
astunparse==1.6.3
atomicwrites==1.4.0
cachetools==5.5.0
contourpy==1.3.1
cycler==0.12.1
czifile==2019.7.2
extrack==1.6.1
flatbuffers==24.3.25
fonttools==4.55.3
gast==0.4.0
google-auth==2.37.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.68.1
h5py==3.12.1
idna==3.10
imagecodecs==2024.12.30
imageio==2.36.1
inflection==0.5.1
joblib==1.4.2
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
libclang==18.1.1
llvmlite==0.43.0
lmfit==1.3.2
Markdown==3.7
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
opt_einsum==3.4.0
pandas==2.2.3
pillow==11.0.0
ply==3.11
protobuf==3.19.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyls-spyder==0.4.0
pyparsing==3.2.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==1.6.0
scipy==1.14.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
threadpoolctl==3.5.0
tzdata==2024.2
uncertainties==3.2.2
webencodings==0.5.1
Werkzeug==3.1.3
xmltodict==0.14.2